.content {
    max-width: 70%;
    margin: AUTO;
	left: auto;
	right: auto;
	height: 1150px;
	
}

h2{
font-size: 39px;
margin-bottom: 0px;
}

p{
	padding-bottom: -10px;
}

h3{
 font-size: 20px;	
 margin-top: 10px;
 margin-bottom: 0px;
}

.divider{
	margin: 10px 0;
	display: inline;
	border-color: red;


}

.bio {
	height: 230px;
}

.bio img {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom:70px;
  padding-left:50px;
  padding-right:20px;

}

.preview {
	padding-left: 40px;
	padding-top: 0px;
	padding-right:0px;
	padding-bottom: 20px;
  float: right;
  background:white;
  width: 541px;	
  vertical-align: text-top;
}

.body{
	clear: both; 
}