a {
    outline: 0;
}

#wrapper.anim #width_wrapper>* {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}

#wrapper #width_wrapper>* {
    opacity: 0;
}

#floaty_nav {
    font-family: 'stratum-1-web',sans-serif;
    position: fixed;
    right: 0;
    top: 200px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    z-index: 9999;
}

#floaty_nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: url('../img/side_hover.png') 0 -111px repeat-x;
    padding-left: 10px;
    height: 37px;
    border-radius: 2px 0 0 2px;
    margin-bottom: 2px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
}

#floaty_nav a:before, #floaty_nav a:after {
    display: table;
    content: "";
}


#floaty_nav a .icon {
    float: left;
    width: 9px;
    height: 10px;
    background: url('../img/floaty_nav_bullets.png') 0 -9px no-repeat;
    margin: 16px 12px 0 2px;
}

#floaty_nav.shrink a .text {
    width: 1px;
}

#floaty_nav a .text {
    padding-right: 12px;
    white-space: nowrap;
    display: block;
    width: 90px;
    margin-top: 14px;
    -webkit-transition: width .2s;
    transition: width .2s;
}

#floaty_nav a:after {
    clear: both;
}


#floaty_nav a.selected, #floaty_nav .about:hover {
    background-position: 0 0;
}


/* Hover Functions*/


#floaty_nav a.selected,
#floaty_nav .first_nav:hover {
    background-position: 0 0
}
#floaty_nav a.selected .icon,
#floaty_nav .first_nav:hover .icon {
    background-position: 0 0
}
#floaty_nav a.second_nav.selected,
#floaty_nav .second_nav:hover {
    background-position: 0 -74px
}
#floaty_nav a.third_nav.selected,
#floaty_nav .third_nav:hover {
    background-position: 0 -37px
}
#floaty_nav.shrink a .text {
    width: 1px
}
#floaty_nav:hover a .text {
    width: 105px
}


#floaty_nav a.selected,
#floaty_nav .about:hover {
    background-position: 0 0
}
#floaty_nav a.selected .icon,
#floaty_nav .about:hover .icon {
    background-position: 0 0
}
#floaty_nav a.contact.selected,
#floaty_nav .contact:hover {
    background-position: 0 -74px
}
#floaty_nav a.investors.selected,
#floaty_nav .investors:hover {
    background-position: 0 -37px
}