body {
    font-family: RalewayMedium,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    color: #475262;
}

.top-margin-separator {
    margin-top: 70px;
}

.col-left, .col-right {
	position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-left {
    float: left;
    width: 30%;
}

.col-right{
	float: right;
	width: 70%;
}



div {
    display: block;
}

h2.title {
	font-size: 40px;
    line-height: 48px;
    color: #152235;
    margin-top: 0px;

}


.content-block {
	margin-bottom: 40px;
}

.nav-section {
	width: 262px;
	height: 50px; 
}

.nav-title {
	font-family: RalewayBold,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 34px;
    text-transform: uppercase;
    padding-bottom: 12px;
    margin: 0 12px 12px;
    overflow: auto;
    border-bottom: 1px solid #dbdfe5;
}

.option {
    padding: 10px 15px;
    font-family: RalewaySemiBold,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #8e939c;
    border-radius: 4px;
}

.active-link{
    font-family: RalewaySemiBold,Helvetica,sans-serif;
    color: #152235;    
}

.option.active {
    font-family: RalewaySemiBold,Helvetica,sans-serif;
    color: #152235;
}

.option:focus {
    outline: 0;
    background: 0 0;
}

.nav-list {
	padding-left: 0;
}

li, li > a {
    position: relative;
    display: block;
}

li >a:focus, li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.separator:before {
    content: '';
    display: block;
    margin: 12px;
    border-top: 1px solid #dbdfe5;
}
